{
    "extends": "react-app",
    "rules": {
        "object-curly-spacing": ["error", "always"],
        "dot-location": ["error", "property"],
        "indent": ["error", 4],
        "semi": ["error", "always"],
        "arrow-parens": ["error", "always"],
        "space-before-function-paren": ["error", "always"]
    }
}